<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- ajax 실습을 위해 jquery cdn 추가 -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- axios 실습을 위해 axios cdn 추가 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <form name="register">
      <h2>실습 axios get 회원가입</h2>
      <label for="name">이름</label> <input type="text" name="name" id="name" />
      <br />
      <br />

      <fieldset>
        <legend>성별</legend>
        <input
          type="radio"
          id="male"
          name="gender"
          value="male
          "
        /><label for="male">남자</label>
        <input type="radio" id="female" name="gender" value="femal" /><label
          for="femal"
          >여자</label
        >
      </fieldset>
      <br />

      <fieldset>
        <legend>생년월일</legend>
        <select name="birth" id="year">
          <% for (let i=1960; i<=2010; i++) {%>
          <option value="<%= i %>"><%= i %></option>
          <% } %></select
        >년

        <select name="birth" id="month">
          <% for (let i=1; i<=12; i++) {%>
          <option value="<%= i %>"><%= i %></option>
          <% } %></select
        >월

        <select name="birth" id="day">
          <% for (let i=1; i<=31; i++) {%>
          <option value="<%= i %>"><%= i %></option>
          <% } %></select
        >일
      </fieldset>
      <br />
      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="favorite" value="여행" />여행
        <input type="checkbox" name="favorite" value="패션" />패션
        <input type="checkbox" name="favorite" value="음식" />음식
      </fieldset>

      <br />
      <button type="button" onclick="axiosGet()">회원가입</button>
      <br/>
      <br/>
      <div class="result"></div>
      
      <br />
      <hr />
      
      <h2>실습 axios get 회원가입</h2>
      <label for="id">아이디</label>
      <input type="text" id="id" />
      <label for="pw">비밀번호</label>
      <input type="pw" id="pw" />
      <br />
    </form>
    <br />
    <button type="button" onclick="axiosPost()">로그인</button>
    <br/>
    <br/>
    <div class="result2"></div>

    <script>
      //버튼 실행 결과 보여줄 요소 선택
      const resultBox = document.querySelector(".result");

      function axiosGet() {
        console.log("click axiosGet btn!!");
        // 폼 선택하기
        const form = document.forms["register"];

        // 서버에 전송할 폼 입력값을 저장하는 객체
        const formInfo = {
          name: form.name.value,
        };

        axios({
          url: "/axios",
          method: "GET",
          params: formInfo, //GET요청은 params에 저장!!
        })
          .then(function (response) {
            console.log(response);
            console.log(response.data);

            resultBox.textContent = ` ${response.data.name} 님 환영합니다. 가입이 완료되었습니다.👏`;
            resultBox.style.color = "blue";
          })
          .catch(function (error) {
            console.log("Error!", error);
          });
      }

      
      const resultBox2 = document.querySelector(".result2");
      function axiosPost() {
        console.log("click axiosPost btn!!");

        // 폼 선택하기
        const form = document.forms["register"];

        // 서버에 전송할 폼 입력값을 저장하는 객체
        const formInfo = {
          id: form.id.value,
          pw: form.pw.value,
        };

        const formInfo_Save = {
          id: "banana",
          pw: "4321",
        };

        axios({
          url: "/axios",
          method: "POST",
          data: formInfo, //POST 요청 -> data 키 값에 담아서 보내기1
        })
          .then((response) => {
            if(form.id.value == formInfo_Save.id && form.pw.value == formInfo_Save.pw){
              resultBox2.textContent = `${response.data.id}님 로그인 성공🍌`;
              resultBox2.style.color = "blue";
            } else{
              resultBox2.textContent = `아이디 또는 패스워드 오류ㅠㅠㅠ`;
              resultBox2.style.color = "red";
            }
          })
          .catch((error) => {
            console.log("Error!", error.message);
            resultBox2.textContent = "알 수 없는 에러 발생!!";
          });
      }
    </script>
  </body>
</html>
