<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습1</title>
    <style>
      fieldset {
        margin-top: 15px;
      }
      button {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h2><%= title %></h2>
    <form action="/result1" name="name" method="get" class="get-form">
      <label for="name">이름</label> <input type="text" name="name" id="name" />
      <br />

      <fieldset>
        <legend>성별</legend>
        <input
          type="radio"
          id="male"
          name="gender"
          value="male
        "
        /><label for="male">남자</label>
        <input type="radio" id="female" name="gender" value="femal" /><label
          for="femal"
          >여자</label
        >
      </fieldset>
      <br />

      <fieldset>
        <legend>생년월일</legend>
        <!--         <select name="birthYear" id="year">
          <% for (let i = 0; i < 50; i++) { %>
          <option value="<%= 2010 - i %>"><%= 2010 - i %></option>
          <% } %>
        </select>
        <label for="year">년</label>
        <select name="birthMonth" id="month">
          <% for (let i = 1; i < 13; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="month">월</label>
        <select name="birthDay" id="day">
          <% for (let i = 1; i < 31; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="day">일</label>
      </fieldset> 
 -->

        <select name="birth" id="year">
          <% for (let i=1960; i<=2010; i++) {%>
          <option value="<%= i %>"><%= i %></option>
          <% } %></select
        >년

        <select name="birth" id="month">
          <% for (let i=1; i<=12; i++) {%>
          <option value="<%= i %>"><%= i %></option>
          <% } %></select
        >월

        <select name="birth" id="day">
          <% for (let i=1; i<=31; i++) {%>
          <option value="<%= i %>"><%= i %></option>
          <% } %></select
        >일
      </fieldset>

      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="favorite" value="여행" />여행
        <input type="checkbox" name="favorite" value="패션" />패션
        <input type="checkbox" name="favorite" value="음식" />음식
      </fieldset>

      <button type="submit">회원가입</button>
    </form>

    <script></script>
    <a href="/">HOME</a>
  </body>
</html>
