<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습1</title>
    <style>
      fieldset {
        margin-top: 15px;
      }
      button {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body>
    <h2><%= title %></h2>
    <form action="/result2" name="name" method="post" class="post-form">
      이름 <input type="text" name="name" />
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" value="male"/><label for="male">남자</label>
        <input type="radio" name="gender" value="femal"/><label for="femal">여자</label>
      </fieldset>

      <fieldset>
        <legend>생년월일</legend>
        <select name="birth" id="birth">
          <% for (let i=1960; i<=2010; i++) {%>
          <option value="<%= i %>"><%= i %></option>
          <% } %></select
        >년

        <select name="birth" id="birth">
          <% for (let i=1; i<=12; i++) {%>
          <option value="<%= i %>"><%= i %></option>
          <% } %></select
        >월

        <select name="birth" id="birth">
          <% for (let i=1; i<=31; i++) {%>
          <option value="<%= i %>"><%= i %></option>
          <% } %></select
        >일
      </fieldset>

      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="favorite" value="여행" />여행
        <input type="checkbox" name="favorite" value="패션" />패션
        <input type="checkbox" name="favorite" value="음식" />음식
      </fieldset>

      <fieldset>
        <legend>기타</legend>
        <label for="pick_color">좋아하는 색상</label>
        <input type="color" name="pick_color" id="pick_color" />
        <label for="pick_num">좋아하는 숫자</label>
        <input type="number" name="pick_num" id="pick_num" />
      </fieldset>

      <button type="submit">회원가입</button>
    </form>

    <script></script>
    <a href="/">HOME</a>
  </body>
</html>
